<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BlogCMS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('courses/assets/img/favicon.ico') }}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{{ asset('courses/assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('courses/assets/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('courses/assets/css/slicknav.css') }}">
    <link rel="stylesheet" href="{{ asset('courses/assets/css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('courses/assets/css/hamburgers.min.css') }}">
    <link rel="stylesheet" href="{{ asset('courses/assets/css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('courses/assets/css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('courses/assets/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('courses/assets/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('courses/assets/css/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('courses/assets/css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ asset('courses/assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('courses/assets/css/responsive.css') }}">
</head>

<header>
    <!-- Header Start -->
    <div class="header-area header-transparent">
        <div class="main-header">
            <div class="header-bottom header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center" style="height: 100px;"> <!-- You can adjust the height -->
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 d-flex justify-content-center align-items-center">
                            <div class="logo">
                                <a href="{{ path('app_home') }}"><img src="{{ asset('courses/assets/img/logo/logo.png') }}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper d-flex justify-content-end align-items-center">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation" class="d-flex align-items-center">
                                            <li><a class="btn" href="{{ path('app_login') }}">Login</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
